.wrapper {
    padding: 2rem;
    text-align: center;
    color: var(--paragraph-color);
    background-color: #1a1a1a;
    margin-top: 4rem;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

.wrapper p {
    font-size: 0.9rem;
    line-height: 1.5;
}

.wrapper a {
    color: var(--secondary-color);
    text-decoration: none;
}

.wrapper a:hover {
    text-decoration: underline;
}