.wrapper {
  padding: 15px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.wrapper:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.wrapper h2 {
  margin-bottom: 5px;
  font-size: 24px;
  color: black;
}

.wrapper p {
  margin-bottom: 5px;
}