.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  max-width: 400px;
  /* border: 1px solid grey; */
  color: white;
  text-align: center;
  margin: 0 auto;
}

.button {
  background-color: grey;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: silver;
}
