.wrapper {
    flex-grow: 1;
    display: grid;
    place-items: center;
    /* border: 1px solid red; */
}

.title {
    font-size: 72px;
    color: var(--text-color);
}

.round {
    font-size: 32px;
    color: var(--paragraph-color);
}

.timer {
    font-size: 150px;
    color: var(--text-color);
}

.description {
    font-size: 32px;
    color: var(--paragraph-color);
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.progress {
    color: aquamarine;
    cursor: pointer;
}

.exit {
    text-decoration: none;
    color: tomato;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}