.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  max-width: 400px;
  /* border: 1px solid grey; */
  color: white;
  text-align: center;
  margin: 0 auto;
}

.button {
  background-color: #0D2539;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.button:hover {
  background-color: silver;
  transform: scale(1.1);
}