.wrapper {
    flex-grow: 1;
    display: grid;
    place-items: center;
    /* border: 1px solid red; */
}

.title {
    font-size: 72px;
    color: var(--text-color);
}

.time {
    font-size: 150px;
    color: var(--text-color);
}

.description {
    font-size: 32px;
    color: var(--paragraph-color);
}