.wrapper {
    height: 80px;
    display: inline-block;
    transition: all 0.3s ease;
}

.wrapper:hover {
    cursor: pointer;
    /* Changes the cursor to pointer */
    filter: brightness(1.2);
    /* Makes the block brighter */
}