.progressBarContainer {
    display: flex;
    width: 100%;
    /* background-color: #202024; */
}

.wrapper {
    height: 80px;
    display: inline-block;
    transition: background-color 0.5s ease, width 0.5s ease, background 0.5s ease;
}

.wrapper:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

.wrapper span {
    position: absolute;
    right: 5px;
    top: 5px;
    color: black;
    /* Text color for the percentage */
}