.wrapper {
    flex-grow: 1;
    display: grid;
    place-items: center;
    /* border: 1px solid red; */
}

.title {
    font-size: 72px;
    color: var(--text-color);
}

.round {
    font-size: 32px;
    color: var(--paragraph-color);
}

.timer {
    font-size: 150px;
    color: var(--text-color);
}

.description {
    font-size: 32px;
    color: var(--paragraph-color);
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* Ensure the container spans the full width of the screen */
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    /* Include padding in the width calculation */
}

.controls a {
    text-decoration: none;
}

.progress {
    color: rgb(104, 104, 104);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.progress:hover {
    color: white;
    transform: scale(1.1);
}

.exit {
    text-decoration: none;
    color: rgb(104, 104, 104);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.exit:hover {
    color: tomato;
    transform: scale(1.1);
}