.title {
    margin-bottom: 20px;
    color: white;
}

.settingsWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 50px;
    color: grey;
    line-height: 1.8;
}



.input {
    margin-right: 30px;
    margin-bottom: 50px;
    height: 30px;
    width: 300px;
    border: none;
    background-color: rgb(235, 235, 235);
    padding: 10px;
    border-radius: 5px;
}

.availableExercisesWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 50px;
    color: grey
}

.exerciseTimelineWrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 50px;
    color: grey
}