@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --background-color: #16161a;
  --secondary-color: #2ecc71;
  --button-color: #7f5af0;
  --text-color: #ffffff;
  --paragraph-color: #94a1b2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--background-color);
  text-align: center;
  color: white;
}