.title {
  margin-top: 100px;
  margin-bottom: 20px;
  color: white;
}

.presetsWrapper {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 50px;
}
