.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--background-color);
}

@media (max-width: 480px) {
    .wrapper {
        height: 100dvh;
    }
}